body{
	margin-left: 50px
}
section{
	margin-bottom: 10px;
}
.bugname, .stats {
	font-size: 18pt;
}
.bugname{
	cursor : pointer;
}
ol{
	list-style: none;
	width : 400px;
	-webkit-padding-start : 0px;
}
li{
	margin-bottom: 10px;
	padding: 10px;
	border : 1px gray solid;
	border-radius: 5px;
	background-color: #e7e7e7;
}
.closed{
	color : red;
	text-decoration: line-through;
	font-style: italic;
	font-weight: bold;
}
.datetime{
	font-style: italic;
}